PORT=3000
REDIRECT_BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://app:app@localhost:5432/app
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=brevly-server
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET=
CLOUDFLARE_PUBLIC_URL=
